<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Placeholder Content* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="app">
  <div class="sticky top-0 bg-white py-4">
    <a routerLink="/">
      <img class="w-64 mx-auto" alt="Vue logo" src="../assets/logo.png" />
    </a>
  </div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <router-outlet></router-outlet>
</div>
